<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{css/goods.css}">
    <script th:src="@{js/jquery3.6.0.min.js}"></script>
    <script th:src="@{js/cookie.js}"></script>
    <script th:src="@{js/getUrlParam.js}"></script>
    <title>商品管理</title>
    <script>
        function toEditBook(id) {
            console.log(id)
            cookie.setCookie("myid", id)
            window.event.returnValue = false;
            window.location.href = "/editGoodsInfo"
        }

        function deleteBook(id) {
            if (confirm("确认是否删除")) {
                $(document).ready(function () {
                    //获取tbody
                    let bookData = $("#bookData");
                    let temp = '';
                    $.ajax({
                        //请求路径servlet
                        url: "goodsManage",
                        type: "delete",
                        dataType: "json",
                        async: true,//是否异步
                        data: {"id": id},
                        //请求成功
                        success: function (msg) {
                            let books = msg;
                            bookData.empty();//清空
                            for (let i = 0; i < books.length; i++) {
                                myId = books[i].id;
                                if (i === 0 || i % 2 === 0) {
                                    temp += '<tr class="evenNumber">';
                                } else {
                                    temp += '<tr>';
                                }
                                temp +=
                                    '<td>' + books[i].id + '</td>' +
                                    '<td><img src="' + books[i].img + '"/></td>' +
                                    '<td>' + books[i].name + '</td>' +
                                    '<td>' + books[i].price + '</td>' +
                                    '<td>' + books[i].introduce + '</td>' +
                                    '<td> ' +
                                    '   <button class="button1" type="submit" onclick="deleteBook(' + books[i].id + ')"><a>删除</a></button>\n' +
                                    '   <button class="button2" type="submit" id="bookedit" onclick="toEditBook(' + books[i].id + ')"><span>编辑</span></button>\n' +
                                    '</td>'
                                '</tr>';
                            }
                            bookData.append(temp);
                        },
                        //请求失败
                        error: function (e) {
                            alert("request failed !")
                        }
                    })
                });
                alert("删除成功");
            } else {
                alert("取消删除");
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            //获取tbody
            let bookData = $("#bookData");
            let temp = '';
            $.ajax({
                //请求路径servlet
                url: "/goodsManage",
                type: "POST",
                dataType: "json",
                async: true,//是否异步
                //请求成功
                success: function (msg) {
                    let books = msg;
                    bookData.empty();//清空
                    for (let i = 0; i < books.length; i++) {
                        myId = books[i].bookId;
                        if (i === 0 || i % 2 === 0) {
                            temp += '<tr class="evenNumber">';
                        } else {
                            temp += '<tr>';
                        }
                        temp +=
                            '<td>' + books[i].id + '</td>' +
                            '<td><img src="' + books[i].img + '"/></td>' +
                            '<td>' + books[i].name + '</td>' +
                            '<td>' + books[i].price + '</td>' +
                            '<td>' + books[i].introduce + '</td>' +
                            '<td> ' +

                                '<button class="button1" type="submit" onclick="deleteBook(' + books[i].id + ')"><a >删除</a></button>\n' +
                                '<button class="button2" type="submit" id="bookedit" onclick="toEditBook(' + books[i].id + ')">' +
                                '<span>编辑</span>' +
                            '</button>\n' +

                            '</td>'
                        '</tr>';
                    }
                    bookData.append(temp);
                },
                //请求失败
                error: function (e) {
                    alert("request failed !")
                }
            })
        });
    </script>

</head>
<body>
<div class="header">
    <img th:src="@{picture/书籍管理.png}" height="80px" style="padding-left: 30px;padding-top: 15px;float: left">
    <p class="p1">毛杜网上书城系统平台(管理员系统)</p>
    <span class="back"><a href="login">退出系统</a></span>
    <div class="clear"></div>
    <p class="p2">Maodu online bookstore system platform</p>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="information">
            <span class="time">
                <script>
                    var obj = new Date();
                    var year = obj.getFullYear();
                    var month = obj.getMonth() + 1;
                    var date = obj.getDate();
                    var hour = obj.getHours();
                    var minute = obj.getMinutes();
                    var second = obj.getSeconds();
                    var weekend = obj.getDay(); //获取星期几，这里获得到的是数字1-7，所以我下面自己new了一个数组把获取到的数字当下标
                    var weeks = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
                    var day = weeks[weekend];//这样就是显示的星期x了
                    // //这些if判断是在小于10的时候前面自动补0
                    if (month < 10) {
                        month = '0' + month;
                    }
                    if (date < 10) {
                        date = '0' + date;
                    }
                    if (hour < 10) {
                        hour = '0' + hour;
                    }
                    if (minute < 10) {
                        minute = '0' + minute;
                    }
                    if (second < 10) {
                        second = '0' + second;
                    }
                    document.write("   今天是：  " + year + "年" + month + "月" + date + "日 " + day + " " + hour + ":" + minute + ":" + second);
                </script>
            </span>
    <span class="employee">
               欢迎 管理员 进入毛杜网上书城后台管理系统
            </span>
</div>
<div class="clear"></div>
<div>
    <div class="left">
        <ul type="none">
            <li><a style="color:white;" href="#">商品信息管理</a></li>
            <li><a href="usersManage">用户信息管理</a></li>
        </ul>
    </div>
    <div class="center">
        <table class="content">
            <thead>
            <tr>
                <th width="100px">ID</th>
                <th width="300px">书籍封面</th>
                <th width="100px">书名</th>
                <th width="100px">书籍价格</th>
                <th width="100px">简介</th>
                <th width="100px">操作</th>
            </tr>
            </thead>
            <tbody id="bookData">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
