@charset "utf-8";
body {
    font-family:Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana, sans-serif, "新宋体";
    font-size:12px;
    color:#000000;
    height:100%;
    line-height:1;
    background: #ffffff;
    background-size: 100% 1320px;
}
* {
    margin:0 auto;
    padding:0px;
}
.clear{
    clear: both;
}
.top{
    width: 100%;
    margin: 0 auto;
    background-color: #e2d9d9;
    height: 40px;
}
.top .span1{
    font-size: 18px;
    line-height: 40px;
    float: left;
    color: gray;
    margin-left: 650px;
}
.top .right{
    float: right;
    line-height: 40px;
    margin-right: 120px;
    font-size: 14px;
    font-weight:600;
}
a{
    cursor: pointer;
    color:rgb(238, 56, 56);
    text-decoration:none;
}
a:hover{
    color:orange;
    text-decoration:none;
}



.logo_line{
    height: 100px;
    width: 1500px;
    margin: 0 auto;
    position: relative;
}
.logo_line .search{
    position: absolute;
    margin-top: 20px;
    height: 48px;
    z-index: 9999;
    left: 362px;
    top: 0;
    margin-left: 200px;
}

.logo_line .shopcar{
    width: 110px;
    height: 40px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    background-color: orangered;
    border-radius:6px;
    
}
.logo_line .shopcar span{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: white;
    
}

.logo_line a:hover{
    color:rgb(231, 22, 74);
    text-decoration:none;
}
.divide_line{
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #999595;
}



/*中间部分*/
#center_nav{
    width: 1200px;
    float: left;
}

#center_nav #title{
    width: 800px;
    background: rgb(117, 114, 110);
    color: rgb(255, 255, 255);
    margin: 0px 10px 10px;
    margin: 0 auto;
    text-indent: 20px;
    font-size: 18px;
    text-align: left;
    text-align: center;
    line-height: 40px;
    margin-left: 400px;
}/*标题*/

.content{
    margin-left: 100px;
    margin-top: 10px;
    border:solid 1px #33a5e7;
    width:1400px;
    margin-bottom: 40px;
    /* margin:0 auto; */
}

.content thead{
    background-color: #33a5e7;
}

.content th{
    line-height:45px;
    text-indent:11px;
    text-align:center;
    height: 45px;
    font-size: 18px;
    padding-left: 10px;
    border-bottom:solid 1px #b6cad2;
    border-right: dotted 1px #c7c7c7;
}
.evenNumber{
    background: #e2e2e5;
}
.content td{
    /* line-height:55px; */
    text-indent:10px;
    padding-left: 0px;
    /* height: 55px; */
    font-size: 18px;
    border-right: solid 1px #c7c7c7;
}
.content td ul{
    margin-left: 30px;

}
.content td ul li{
    height: 25px;
    font-size: 15px;
}

.content td form{
    margin: 0 auto;
    float: left;
    margin-left: 10px;
}
tr img{
    height: 120px;
}
.button1{
    width: 70px;
    height: 35px;
    cursor:pointer;
    margin-left: 70px;
    text-align: center;
    background: #db3840;
    border:1px solid #db3840;
    border-radius:6px;
    color:#fff;
    font-size:14px;
    text-shadow:0 1px 2px rgba(0, 0, 0, .1)
}

.content a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.content a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}




/*底部*/
#bottom1{
    width: 100%;
    background: #efefef;
    height: 310px;
}
.foot_list{
    padding-top: 20px;
    width: 1100px;
    margin: 0 auto;
}
.foot_list>li{
    width: 200px;
    float: left;
    margin-left: 20px;
}

.float{
    float: left;
}


.foot_list .head{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    color:black;
}
.foot_list li{
    font-size: 15px;
    margin-bottom: 10px;
    color: gray;
}

.foot_line{
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
}
#bottom1 .test{
    padding-top: 10px;
}
#bottom1 .test span{
    font-size: 15px;
    padding: 20px;
}
