<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码</title>
    <link type="text/css" rel="stylesheet" href="../css/registerAndLogin.css">
    <script type="text/javascript" src="../js/login.js"></script>
    <script src="../js/jquery3.6.0.min.js"></script>
    <script>
        function forgetUser(){
            username = document.getElementById("username").value;
            telephone = document.getElementById("telephone").value;
            password = document.getElementById("password").value;
            password2 = document.getElementById("password_again").value;
            if(username === "请输入用户名" || password === "请输入密码" ||password2 === "确认输入")
                alert("请将信息补全完成")
            else {
                if(password !== password2)
                    alert("密码必须一致");
                else {
                    // alert(rember);
                    $.ajax({
                        url:"/forgetPassword",
                        type:"POST",    //提交方式
                        data:{"username":username,"telephone":telephone,"password":password},
                        dataType:"json",

                    }).done(function (data) {
                        if (data.res===1){
                            // alert('username')
                            alert("修改成功")
                            location.href="login"
                        }else{
                            // alert('username');
                            // $('.div1').show().html('用户名或密码输入错误')
                        }
                    })
                }
            }
        }
    </script>
    <script>
        function forgetAdmin(){
            username = document.getElementById("username1").value;
            password = document.getElementById("password1").value;
            password2 = document.getElementById("password_again1").value;
            if(password != password2)
                alert("密码必须一致");
            else {
                // alert(rember);
                $.ajax({
                    url:"/forgetPassword",
                    type:"POST",    //提交方式
                    data:{"username":username,"telephone":telephone,"password":password},
                    dataType:"json",

                }).done(function (data) {
                    if (data.res===1){
                        // alert('username')
                        location.href="login"

                    }else{
                        // alert('username');
                        $('.div1').show().html('用户名或密码输入错误')

                    }
                })
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <span>毛杜网上书城</span>
    </div>
    <div id="tab">
        <ul class="tab_menu" type="none">
            <li class="register">用户修改</li>
        </ul>
        <div class="tab_box">
            <!-- 用户修改开始 -->
            <div>
                <div></div>

                <div>
                    <label>用户名：</label>
                    <input type="text"  id="username" placeholder="请输入用户名"/>
                </div>
                <div>
                    <label>手机号：</label>
                    <input type="text"   id="telephone" placeholder="请输入手机号" />
                </div>
                <div >
                    <label>新密码：</label>
                    <input type="password"     id="password" placeholder="请输入密码" />
                </div>
                <div >
                    <label>确认密码：</label>
                    <input style="width:185px" type="password" id="password_again" placeholder="确认输入" />
                </div>
                <div>
                    <a class="back" href="login">返回</a>
                </div>
                <div>
                    <button type="submit" id="button1" value="" onclick="forgetUser()">确认修改</button>
                </div>
            </div>
            <!-- 用户修改结束-->
<!--            &lt;!&ndash; 管理员修改开始&ndash;&gt;-->
<!--            <div class="hide">-->
<!--                <div class="error_box1"></div>-->


<!--&lt;!&ndash;                <form action="#" method="post" class="login_error1">&ndash;&gt;-->
<!--                    <div>-->
<!--                        <label>账&nbsp;&nbsp;号：</label>-->
<!--                        <input type="text"  onfocus="javascript:this.value=''"  id="username1" value="请输入账号" />-->
<!--                        &lt;!&ndash;ajaxurl="demo/valid.jsp"&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label>手机号：</label>-->
<!--                        <input style="width: 185px" onfocus="javascript:this.value=''"  id="telephone1" value="确认输入" />-->
<!--                     </div>-->
<!--                    <div >-->
<!--                        <label>新密码：</label>-->
<!--                        <input type="password"  onfocus="javascript:this.value=''"  id="password1" value="请输入密码"/>-->
<!--                    </div>-->

<!--                    <div>-->
<!--                        <label>确认密码：</label>-->
<!--                        <input style="width: 185px" onfocus="javascript:this.value=''"  type="password" id="password_again1" value="确认输入" />-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <a class="back" href="login">返回</a>-->
<!--                    </div>-->
<!--                    <div id="login">-->
<!--                        <button type="submit" onclick="forgetAdmin()">确认修改</button>-->
<!--                    </div>-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
            </div>
            <!-- 管理员修改结束-->
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom">
        <span>Copyright © 2021 All Right Reserved 毛氏软件股份有限公司版权所有</span>
        <span> 长沙理工大学云塘校区版权所有</span>
    </div>
</body>
</html>